@import './base.css';

:root {
    --nav-height: 8vh;
}

body {
    padding: 2px;
    min-width: 500px;
}

.btn {
    padding: .2rem .5rem;
    border-radius: 8px;
    font-size: larger;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
    display: flex;
}
.btn:active {
    transform: translate(1px, 1px);
}

.btn:disabled {
    transform: none;
    cursor: not-allowed;
}

.highlighted-code {
    background-color: rgba(255, 234, 0, 0.27);
}

.cm-editor {
    height: 100%;
}

.cm-scroller {
    height: 47vh;
    max-height: 47vh;
}

legend {
    height: 1.5rem;
}